<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add Course</title>
</head>
<body>
    <div class = "">
        <form class = "" method="POST" action="/add_course">
            <h2 class = "">Add Course</h2>
            <div class = "">
                <label class = "" for="title">
                    Title
                </label>
                <input name="name" class = "" id="title" type="text" placeholder="Enter the title of the course">
            </div>
            <div class = "">
                <label class = "" for="description">
                    Description
                </label>
                <input name="description" class = "" id="description" type="text" placeholder="Enter the description of the course">
            </div>
            <button type="submit" class = "">
                Add Course
            </button>
        </form>
    </div>
</html>