<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Log In</title>
</head>
<body class = "">

    <div class = "">
        <form class = "" method="POST" action="/authenticate">
            <h2 class = "">Login</h2>
            <div class = "">
                <label class = "" for="username">
                    Username
                </label>
                <input name="username" class = "" id="username" type="text" placeholder="Enter your username">
            </div>
            <div class = "">
                <label class = "" for="password">
                    Password
                </label>
                <input name="password" class = "" id="password" type="password" placeholder="Enter your password">
            </div>
            {% if form.non_field_errors %}
            <div class = "">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
            <button type="submit" class = "">
                Login
            </button>
            <a class = "" href="/register">
                Don't have an account? Register here.
            </a>

        </form>
    </div>
</body>
</html>