<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register</title>
</head>
<body class = "">

    <div class = "">
        <form class = "" method="POST" action="/registration">
            <h2 class = "">Register</h2>
            <div class = "">
                <label class = "" for="username">
                    Username
                </label>
                <input name="username" class = "" id="username" type="text" placeholder="Enter your username">
            </div>
            <div class = "">
                <label class = "" for="password">
                    Password
                </label>
                <input name="password" class = "" id="password" type="password" placeholder="Enter your password">
            </div>
            <div class = "">
                <label class = "" for="type">
                  Type
                </label>
                <div class = "">
                  <label class = "">
                    <input type="radio" name="type" value="teacher" required>
                    Teacher
                  </label>
                  <label class = "">
                    <input type="radio" name="type" value="student">
                    Student
                  </label>
                </div>
              </div>
            <button type="submit" class = "">
                Register
            </button>

            <a class = "" href="/login">
                Have an account? Login here.
            </a>

        </form>
    </div>
</body>
</html>